#banner {
	height: calc(100vh - 54px);
	background-position: center 41%;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.75);

	@media (max-width: 650px) {
		height: calc(100vh - 102px);
	}

	.content {
		width: 100%;
		height: 100%;

		background: rgba(0, 0, 0, 0.8);

		text-transform: uppercase;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (max-width: 650px) {
			justify-content: flex-start;
		}

		h1 {
			width: 600px;
			margin-bottom: 100px;
			line-height: 100px;
			color: white;

			@media (max-width: 650px) {
				line-height: inherit;
				margin-bottom: 10px;
				width: 90%;
			}
		}

		p {
			font-size: 18px;
			color: white;
			margin-bottom: 100px;

			@media (max-width: 1500px) {
				width: 600px;
			}

			@media (max-width: 650px) {
				width: 90%;
			}
		}
	}

	.buttons-container {
		display: flex;

		@media (max-width: 650px) {
			margin-top: 15px;
			flex-direction: column;
		}

		.button {
			margin: 0 15px;

			@media (max-width: 650px) {
				margin: 5px 0;
			}
		}
	}
}

#description {
	background-color: rgba(217, 217, 217, 0.5);
	padding: 20px 20%;

	@media (max-width: 1500px) {
		padding: 20px 10%;
	}

	@media (max-width: 650px) {
		padding: 50px 5%;
	}

	p {
		font-size: 24px;
	}
}
