#demonstration {
	background-color: rgba(217, 217, 217, 0.5);
	padding: 30px 20%;
	font-size: 24px;
	display: flex;
	align-items: center;

	@media (max-width: 1500px) {
		padding: 30px 5%;
	}

	@media (max-width: 650px) {
		padding: 15px 5%;
		flex-direction: column;
	}

	.content {
		flex-grow: 1;
		padding-right: 30px;

		* {
			text-align: left !important;
		}

		h2 {
			text-align: left !important;
			text-transform: uppercase;
			margin: 15px 0;
			font-size: 24px !important;
			font-weight: bold !important;
		}

		.tiny-font {
			font-size: 18px;
		}
	}
}
