#features {
	display: flex;
	justify-content: space-between;
	padding: 90px 20%;

	@media (max-width: 1500px) {
		padding: 45px 5%;
	}

	@media (max-width: 650px) {
		padding: 15px 5%;
		flex-direction: column;
	}

	.feature {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 30%;
		margin: 0 15px;

		@media (max-width: 650px) {
			margin: 15px 0;
			width: 100%;
		}

		.feature-title {
			font-weight: bold !important;
			font-size: 16px !important;
			text-transform: uppercase;
		}
	}
}
