#nav {
	position: fixed;
	bottom: 0;

	width: 100%;
	padding: 10px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	background: black;
	opacity: 0.8;

	@media (max-width: 1250px) {
		padding: 5px 10px;
	}

	a {
		display: flex;
		align-items: center;

		min-width: 30px;
		height: 26px;
		margin-left: 15px;
		transition: flex-shrink 75ms;

		overflow: hidden;
		text-decoration-color: white;

		&:first-child {
			margin-left: 5px;
		}

		&:hover {
			flex-shrink: 0;
		}

		@media (max-width: 1250px) {
			height: 18px;
		}

		@media (max-width: 650px) {
			height: 26px;
			margin-left: 5px;

			&:hover {
				flex-shrink: 1;
			}
		}

		.service-icon .bi {
			fill: white;
			font-size: 24px !important;

			@media (max-width: 1250px) {
				font-size: 16px !important;
			}

			@media (max-width: 650px) {
				font-size: 24px !important;
			}
		}

		.service-name {
			color: white;
			padding-left: 5px;

			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			@media (max-width: 1250px) {
				font-size: 14px !important;
			}

			@media (max-width: 650px) {
				display: none;
			}

			&::before {
				content: '-';
				color: white;

				@media (max-width: 1250px) {
					content: '';
				}
			}
		}
	}
}
