#services {
	.service {
		.title {
			padding: 100px 20%;

			@media (max-width: 1500px) {
				padding: 60px 5%;
			}

			.content {
				padding: 30px;
				background-color: rgba(0, 0, 0, 0.75);
				width: 50%;

				@media (max-width: 1500px) {
					width: 80%;
				}

				@media (max-width: 650px) {
					padding: 15px;
					width: 100%;
				}

				* {
					text-align: left;
					color: white;
				}

				h2 {
					text-transform: uppercase;
					font-size: 52px;
					word-wrap: break-word;

					@media (max-width: 650px) {
						margin-top: 15px;
						font-size: 32px;
					}
				}

				p {
					a {
						color: rgb(249, 169, 14);
						text-decoration: underline;
					}
				}
			}
		}

		.features {
			padding: 30px 20%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			@media (max-width: 1500px) {
				padding: 30px 5%;
			}

			@media (max-width: 650px) {
				flex-direction: column;
				padding: 15px 5%;
			}

			.feature {
				flex-basis: 47%;
				display: flex;
				margin: 15px 0;

				.feature-icon {
					flex-shrink: 0;
					margin-right: 15px;
					width: 75px !important;
					height: 75px !important;
				}

				.feature-icon .bi {
					font-size: 26px !important;
				}

				.content {
					* {
						text-align: left !important;
						margin: 5px 0;
					}

					h3 {
						font-weight: normal !important;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
