#about {
	@media (max-width: 650px) {
		padding: 0 5%;
	}

	h1 {
		font-size: 64px;
		font-weight: bold;

		@media (max-width: 650px) {
			font-size: 45px;
		}
	}

	.images_de_moi {
		display: flex;
		justify-content: center;

		img {
			border-radius: 30px;
			margin: 45px 50px;

			height: 341px;

			@media (max-width: 650px) {
				border-radius: 15px;
				margin: 25px 15px;
				height: calc(341px / 2);
			}
		}
	}

	h2 {
		margin-bottom: 50px;
		font-size: 36px;

		@media (max-width: 650px) {
			font-size: 30px;
		}
	}

	.paragraph1 {
		margin-bottom: 50px;
		padding: 0 25%;
		text-align: center;
		font-size: 24px;

		@media (max-width: 650px) {
			padding: 0 5%;
			font-size: 22px;
		}
	}

	.paragraph2 {
		margin-bottom: 50px;
		padding: 0 25%;
		text-align: center;
		font-size: 18px;

		@media (max-width: 650px) {
			padding: 0 5%;
		}

		.people_name {
			color: rgb(249, 169, 14);
		}
	}

	.color-yellow {
		color: rgb(249, 169, 14);
		fill: rgb(249, 169, 14);
	}
}
