#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20%;

	@media (max-width: 1500px) {
		padding: 0 10%;
	}

	@media (max-width: 1000px) {
		padding: 0 5%;
	}

	form {
		margin: 50px 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;


		label {
			width: 100%;
			font-weight: bold;
			display: flex;
			justify-content: center;

			@media (max-width: 800px) {
				flex-direction: column;
			}

			span {
				display: inline-block;
				min-width: 285px;
				text-align: right;

				@media (max-width: 800px) {
					text-align: left;
				}
			}

			input {
				flex-basis: 500px;
				margin-left: 15px;
				text-align: left;

				@media (max-width: 800px) {
					margin-left: 0;
					bottom: 15px;
					flex-basis: auto;
				}
			}

			textarea {
				flex-basis: 500px;
				margin-left: 15px;
				text-align: left;

				@media (max-width: 800px) {
					margin-left: 0;
					bottom: 15px;
					flex-basis: auto;
				}
			}
		}
	}

	.button {
		margin-top: 15px;
		align-self: center
	}
}
