#content {
	padding: 50px 25%;

	@media (max-width: 850px) {
		padding: 0 5%;
	}

	* {
		text-align: left;
	}

	h1 {
		margin-bottom: 30px;
		font-size: 30px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	h2 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 24px !important;
	}

	h3 {
		font-weight: bold;
		font-size: 20px !important;
	}

	h4 {
		font-weight: bold;
		font-size: 16px !important;
	}

	p {
		font-size: 16px !important;
	}
}
