#pricing-header {
	text-transform: uppercase;
}

#pricings {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 25px;

	@media (max-width: 850px) {
		align-items: center;
		flex-direction: column;
	}

	.pricing {
		margin: 10px;
		padding-bottom: 15px;
		border: 1px solid #d9d9d9;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 350px;

		&.bgcolor-white {
			.price-container {
				background: rgba(0, 0, 0, .1)
			}

			.button {
				background-color: rgb(85, 85, 85);
				color: white;
			}
		}

		&.bgcolor-blue {
			* {
				color: white;
			}

			.button {
				background-color: rgb(249, 169, 14);
				color: #4A4A4A;
			}

			.price-container * {
				color: rgb(85, 85, 85);
			}
		}

		&.bgcolor-yellow {
			* {
				color: #4A4A4A;
			}

			.button {
				background-color: rgb(0, 103, 203);
				color: white;
			}
		}

		.name {
			margin: 15px;
			text-transform: uppercase;
			font-size: 20px !important;
			font-weight: bold;
		}

		.price-container {
			width: 100%;
			padding: 5px;
			background-color: rgba(255, 255, 255, .85);

			.price {
				font-size: 36px;
				font-weight: bold;
			}

			.price-cents {
				margin-left: 3px;
				font-size: 18px;
				font-weight: normal;
			}

			.price-rate {
				font-size: 10px;
			}
		}

		.features {
			margin-bottom: 15px;
			border-bottom: 1px solid #d9d9d9;
			width: 100%;

			.feature {
				padding: 15px;
				border-top: 1px solid #d9d9d9;
				font-size: 14px;
			}
		}
	}

	.button {
		font-size: 14px;
	}
}

#pricings-notes {
	padding: 0 3%;
	padding-bottom: 200px;
}
