<section id="about">
	<h1>
		Salut !
		<br/>
		Je suis <span class="color-yellow">Louis</span>.
	</h1>

	<div class="images_de_moi">
		<img src="{{ `moi1.jpg` | absURL }}" alt="founder_picture_1"/>
		<img src="{{ `moi2.jpg` | absURL }}" alt="founder_picture_2"/>
	</div>

	<h2>
		<b>L'ingénieur derrière <span class="color-yellow">FLAP</span>, c'est moi.</b>
	</h2>

	<p class="paragraph1">
		👉 J'ai créé FLAP car j'en avais assez de voir mes proches utiliser des services irrespectueux.
		<br/>
		<br/>
		👉 Quand je ne fais pas de l'escalade, je me consacre au développement de FLAP et de Nextcloud pour vous apporter la solution la plus simple et agréable à utiliser.
		<br/>
		<br/>
		👉 Envie de me rencontrer afin d'établir une relation de confiance ? C'est possible, à Brest ou lors de mes passages fréquents à Paris.
	</p>

	<p class="paragraph2">
		Voici quelques personnes <b>extraordinaires</b> qui m'ont aidé et m'aident encore:

		<br/>
		<b class="color-yellow">Tom</b>, constamment disponible pour me relire et me conseiller lors de la rédaction de contenu.
		<br/>
		<b class="color-yellow">Nush</b> qui a réalisé un magnifique logo.
		<br/>
		<b class="color-yellow">Robin</b> et <b class="color-yellow">Milos</b> sans qui la box n'aurait aucun charme.
	</p>
</section>
