<section id="contact">
	<h1>Nous contacter</h1>

	<p>
		Je ne prend pour le moment pas de nouveau clients.
	</p>

	{{/*
	<p>
		<a href="mailto:louis@chmn.me?&subject=Demande d'information">Demande de devis ou d'information.</a>
		<br/>
		<b>Je me ferai un plaisir de vous répondre sous 24h.</b>
	</p>
	*/}}


	{{/*
	<form name="contact" method="GET" action="https://flapforwardmailaz51msna-forwardmail.functions.fnc.fr-par.scw.cloud">
		<input name="_formsubmit_id" type="hidden">
		<input name="_redirect" type="hidden" value="{{ `/thanks` | absURL }}">
			<label for="contact-name">
				<span>Nom: *</span>
				<input id="contact-name" type="text" name="name" required>
			</label>

			<label for="contact-email">
				<span>Adresse e-mail: *</span>
				<input id="contact-email" type="email" name="email" required>
			</label>

			<label for="contact-subject">
				<span>Sujet (Ex: Demande d'information): *</span>
				<input id="contact-subject" type="text" name="subject" required>
			</label>

			<label for="contact-content">
				<span>Indiquez vos besoins ou questions: *</span>
				<textarea id="contact-content" name="message" cols="30" rows="10"></textarea>
			</label>
		<input type="submit" value="Envoyer" class="button bgcolor-blue"></input>
	</form>
	*/}}
</section>
