<head>
	<meta charset="utf-8">
	<title>FLAP - {{ if not .IsHome }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>
	<link rel="icon" href="{{ site.Params.site_logo | absURL }}"/>

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	{{ range .AlternativeOutputFormats -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<meta name="author" content="FLAP"/>
	<meta name="copyright" content="{{ .Site.Copyright }}{{ now.Format "2006"}}"/>

	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}"/>
	<meta name="keywords" content="{{ range site.Params.keywords }}{{ . }}, {{ end }}cloud"/>
	<meta itemprop="keywords" content="{{ range site.Params.keywords }}{{ . }}, {{ end }}cloud"/>

	{{- template "_internal/schema.html" . -}}
	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}

	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "Organization",
		  "name": "FLAP",
		  "url": "https://www.flap.cloud",
		  "logo": "{{ site.Params.site_logo | absURL }}"
		}
	</script>

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@id": "https://www.flap.cloud",
			"@type": "WebPage",
			"url": "https://www.flap.cloud",
			"name": "FLAP"
		}
	</script>

	{{ hugo.Generator }}

	{{ $style := resources.Get "scss/commons.scss" | resources.ToCSS | postCSS | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}"/>

	{{ if ne .Params.stylesheet nil }}
	{{ $style := resources.Get ( printf "scss/%s.scss" .Params.stylesheet) | resources.ToCSS | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}"/>
	{{ else }}
	{{ $style := resources.Get "scss/pages/home.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}"/>
	{{ end }}
</head>
