{{ with $.Site.Data.pricings }}

<h1 id="pricing-header">{{ .labels.title }}</h1>

<section id="pricings">
	{{ range .pricings }}
	<div class="pricing bgcolor-{{ .color }}">
		<h2 class="name">{{ .name }}</h2>

		<div class="price-container">
			<span class="price">
				{{ .price | safeHTML }}<span class="price-cents">.00 €</span>
			</span>

			{{ if .perUser }}
			<span class="price-rate">{{ $.Site.Data.pricings.labels.per_user }} {{ $.Site.Data.pricings.labels.per_month }}</span>
			{{ else }}
			<span class="price-rate">/ mois</span>
			{{ end }}
			{{ if .annual_reduction }}
			***
			{{ end }}
		</div>

		<div class=features>
			{{ range .features }}
			<div class="feature">
				{{ . }}
			</div>
			{{ end }}
		</div>

		<a class="button" href="/contact">{{ $.Site.Data.pricings.labels.contact_us }}</a>
	</div>
	{{ end }}
</section>

<p id="pricings-notes">
	{{ range .notes }}
		{{ . }}
		<br/>
	{{ end }}
	<br/>
</p>
{{ end }}
