{{ with $.Site.Data.banner }}

<div id="banner-anchor" class="anchor"></div>
<section id="banner" class="fixed-background" style="background-image: url('{{ .banner.image | absURL }}')">
	<div class="content">
		<h1>{{ .banner.title }}</h1>

		<div class="buttons-container">
			{{ range .banner.buttons }}
			<a href="{{ .url }}" class="button {{ .shape }} bgcolor-{{ .color }}">
				{{ .label }}
			</a>
			{{ end }}
		</div>
	</div>
</section>

<div id="description-anchor" class="anchor"></div>
<section id="description">
	<p>
    	{{ .banner.description | markdownify }}
	</p>
</section>

{{ end }}
