<section id="demonstration">
	<div class="content">
		<h2>Envie de tester la solution ?</h2>
		<p>
			<span class="tiny-font">
				Connectez-vous avec le nom d'utilisateur <span class="color-blue"><b><i>demo</i></b></span> et le mot de passe <span class="color-blue"><b><i>demodemo</i></b></span>.
			</span>
			<br/>
			<br/>
				<b>Le site de démonstration est réinitialisé toutes les nuits, merci de ne rien stocker dessus.</b>
		</p>
	</div>

	<a class="button round bgcolor-yellow" target="_blank" href="https://demo.flap.cloud" rel="noreferrer">
		Site de démonstration {{ partial "icons/generics/box-arrow-up-right.svg" }}
	</a>
</section>
