{{ with $.Site.Data.features }}

<section id="features" class="bg-one section features">
	{{ range .features }}
	<div class="feature">
		<div class="feature-icon {{ .shape }} bgcolor-{{ .color }}">
			{{ partial (printf "icons/generics/%s.svg" .icon ) }}
		</div>
		<h2 class="feature-title">{{ .title }}</h2>
		<p>{{ .description | safeHTML }}</p>
	</div>
	{{ end }}
</section>

{{ end }}
