{{ with $.Site.Data.services }}

<nav id="nav">
	<a href="#banner-anchor" class="nav-link" aria-label="Haut de page">
		<span class="service-icon">
			{{ partial "icons/generics/arrow-up-circle-fill.svg" }}
		</span>
	</a>

	{{ range .services }}
	<a href="#{{ .id }}" class="nav-link" aria-label="{{ .name }}">
		<span class="service-icon">
			{{ partial (printf "icons/generics/%s.svg" .icon ) }}
		</span>
		<span class="service-name">
			{{ .name }}
		</span>
	</a>
	{{ end }}
</nav>

{{ end }}
