{{ with $.Site.Data.services }}

<section id="services">
	{{ range .services }}

	<div id="{{ .id }}" class="anchor"></div>

	<div class="service">
		<div class="title fixed-background" style="background-image: url('{{ .image | absURL }}')">
			<div class="content">
				<h2>{{ .name | markdownify }}</h2>
				<p>{{ .description | markdownify }}</p>
			</div>
		</div>

		<div class="features">
			{{ range .features }}
			<div class="feature">
				<div class="feature-icon {{ .shape }} bgcolor-{{ .color }}">
					{{ partial (printf "icons/generics/%s.svg" .icon ) }}
				</div>
				<div class="content">
					<h3 class="service-feature-title">{{ .title | markdownify }}</h3>
					<p>{{ .description | markdownify }}</p>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
	{{ end }}
</section>

{{ end }}
